html,
body {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
}

.container {
    box-sizing: border-box;
    background: #1e2224;
    padding: 0 1rem;
}

@font-face {
    font-family: quicksand;
    src: url(quicksand/Quicksand_Bold.otf);
}

* {
    font-family: quicksand;
    color: #efeee040;
    /* background: rgb(0 100 0 / 0.05) !important; */
    /* outline: 1px solid greenyellow; */
    text-decoration: none;
}

/* NAVBAR STARTS HERE */
nav {
    box-sizing: border-box;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.toggle-btn-container {
    display: none;
}

.logo-container {
    min-width: 5%;
}

.search-bar-container {
    min-width: 95%;
    display: flex;
    align-items: center;
    gap: .3rem;

}

.search-bar {
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 1rem;
    background: #1D2123;
    padding: .5rem .85rem;
}

/* NAVBAR ENDS HERE */

/* SIDE MENU STARTS HERE  */
.side-menu {
    width: 2.5rem;
    background-color: #1A1E1F;
    padding: 0 .3rem;
    border-radius: 2.5rem;
    position: absolute;
    left: 1rem;
    margin-top: 1rem;
    z-index: 2;
}

.side-menu ul {
    position: relative;
    left: -1.85rem;
}

.side-menu li {
    list-style: none;
    margin-top: 1rem;
}

.side-menu a {
    display: flex;
}

.side-menu p {
    display: none;
}

.home-icon {
    margin-bottom: -7.5px;
    margin-left: -8.5px;
}

.active-link {

}
/* SIDE MENU ENDS HERE  */

/* HOME PAGE STARTS HERE  */
.home-page {
    margin-top: 1rem;
    margin-left: 4.5rem;
}

.home-page .first-cont {
    display: flex;
    gap: 1.5rem;
}

.currated-playlist {
    box-sizing: border-box;
    max-width: 47rem;
    max-height: 25.5rem;
    background: #609EAF;
    border-radius: 40px;
    padding: 1.5rem 2rem;
    display: flex;
}

.currated-playlist .first-container {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.currated-playlist p {
    color: #FFFFFF;
    font-size: 12px;
}

.currated-playlist h3 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 35px;
    margin: -0.5rem 0;
}

.currated-playlist .likes {
    display: flex;
    align-items: center;
    gap: .75rem;
}

.likes .images-container {
    margin-left: 1rem;
}

.images-container img {
    margin-left: -1.25rem;
}

.currated-playlist .design-container {
    min-width: 10%;
    position: relative;
    right: 0;
}

.second-container {
    z-index: 1;
}

.top-charts {
    max-height: 25.5rem;
}

.top-charts h4,
.new-releases h4 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    color: #EFEEE0;
}

.top-charts .cards-container {
    height: 100%;
    overflow-y: scroll;
}

.top-charts .cards-container::-webkit-scrollbar {
    display: none;
}

.top-charts .card {
    box-sizing: border-box;
    min-width: 26rem;
    /* max-height: 6rem; */
    background-color: #1A1E1F;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 1rem;
}

.card .first-container {
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
}

.card img {
    max-width: 5rem;
    border-radius: .5rem;
}

.card .card-title {
    margin: 0;
    color: #FFFFFF;
    font-size: 17px;
}

.card .artist {
    color: #ffffff80;
    font-size: 12px;
}

.card .card-duration {
    color: #FFFFFF;
    font-size: 12px;
}

.new-releases {
    margin-top: 2.5rem;
}

.songs-container {
    display: flex;
    gap: 1.25rem;
    overflow-x: scroll;
    margin-top: 1rem;
}

.songs-container::-webkit-scrollbar {
    display: none;
}

.songs-container .song {
    max-width: 153px;
}

.song img {
    max-width: 153px;
}

.song .song-title {
    margin: 0;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
}

.song .artist {
    margin: 0;
    color: #ffffff80;
    font-size: 10px;
    text-align: center;
}

/* HOME PAGE ENDS HERE  */

/* CURRENT SONG SECTION STARTS HERE */
.current-song {
    box-sizing: border-box;
    min-width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(29, 33, 35, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
    padding: .3rem;
    z-index: 2;
}

.current-song .song-info {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.current-song .images-container {
    max-width: 60px;
    max-height: 60px;
}

.current-song img {
    min-width: 100%;
    min-height: 100%;
}

.current-song p {
    margin: 0;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls .control-btns {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.controls button {
    background-color: rgba(29, 33, 35, 0.01);
    border: none;
}

.playandpause-btn {
    box-sizing: border-box;
    margin: 0 -1rem;
}

.duration-bar {
    margin: 0;
}

.volume {
    display: flex;
    gap: .5rem;
}

.volume-bar {
    display: flex;
    align-items: center;
}

/* CURRENT SONG SECTION ENDS HERE */

/* COLLECTION PAGE STARTS HERE */
.collection-page {
    min-width: 100%;
    margin-top: 1rem;
    margin-left: 4.5rem;
}

.collection-page .links {
    min-width: 100%;
    display: flex;
    gap: .7rem;
}

.collection-page .links a {
    box-sizing: border-box;
    border: 1px solid #efeee040;
    border-radius: 1rem;
    padding: .5rem 1.5rem;

}

.collection-page .cards-container {
    margin-top: 1.5rem;
    display: flex;

}

.collection-page .card {
    min-width: 200px;
    min-height: 200px;
    background-image: url(./images/Rectangle\ 26.svg);
    background-repeat: no-repeat;
    background-size: contain;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.collection-page .card-title {
    position: relative;
    left: 1rem;

}

.collection-page .artist {
    margin-top: 0;
    position: relative;
    left: 1rem;

}

.collection-page .other {
    display: none;
}

.collection-page .card button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: none;
}

/* COLLECTION PAGE ENDS HERE */

/* ALBUM PAGE STARTS HERE */
.album-page-background {
    background-image: linear-gradient(to bottom, rgba(16, 153, 255, 0.7), rgba(255, 252, 179, 0.7)), url(./images/Lead-image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: soft-light;
}

.album-page {
    margin-top: 1rem;
    margin-left: 4.5rem;
}

.album-page .first-container {
    display: flex;
    gap: 1.3rem;
}

/* .album-page .first-container .img-container {
    min-width: 0;
} */

.album-page .info {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.album-page .info h3 {
    margin: 0;
    font-weight: 700;
    font-size: 35px;
    color: #A4C7C6;
}

.album-page .info p {
    font-weight: 400;
    font-size: 14px;
    color: #EFEEE0;
}

.album-page .info .songs-count {
    /* margin-top: 0; */
}

.album-page .btns-container {
    display: flex;
    gap: .5rem;
}

.album-page .btns-container .like-btn p {
    display: none;

}

.album-page button {
    box-sizing: border-box;
    background-color: #1A1E1F;
    border: none;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: 0 1rem;
}

.album-page .songs-container {
    box-sizing: border-box;
    background-color: #1D2123;
    border-radius: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
}

.album-page .song {
    box-sizing: border-box;
    min-width: 97%;
    background: rgba(51, 55, 59, 0.37);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: .5rem;
}

.album-page .song .img-container, .album-page .like-icon-container {
    max-width: 5%;
}

.album-page .adjust {
    min-width: 90%;
    display: flex;
}

.album-page .adjust div {
    display: flex;
    align-items: center;
}

.album-page .song-info-container {
    min-width: 70%;
}

.album-page .other-container {
    min-width: 30%;
}

.album-page .song-info-container p {
    min-width: 50%;
    display: flex;
    justify-content: center;
}

.album-page .other-container p, .album-page .other-container .option-icon-container {
    min-width: 50%;
    display: flex;
    justify-content: flex-end;
}

/* ALBUM PAGE ENDS HERE */


@media screen and (max-width: 480px) {

    html,
    body {
        margin: 0;
        min-width: 100%;
        min-height: 100%;
        overflow-x: hidden;

    }

    /* NAVBAR STARTS HERE */
    .toggle-btn-container {
        min-width: 5%;
        display: inherit;
    }

    .search-bar-container {
        box-sizing: border-box;
        min-width: 90%;
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;
    }

    .search-bar {
        box-sizing: border-box;
        margin-top: -0.05rem;
        /* margin-left:  -0.057rem; */
        min-width: 100%;
        position: absolute;
        left: 0;
        border-radius: 0;
        display: none;
    }

    .display-search-bar {
        display: inherit;
    }

    /* NAVBAR ENDS HERE */

    /* SIDE MENU STARTS HERE */
    .side-menu {
        box-sizing: border-box;
        min-width: 100%;
        min-height: 100%;
        background-color: #1D2123;
        border-radius: 0;
        position: absolute;
        left: 0;
        margin-top: -0.05rem;
        display: none;
    }

    .side-menu li {
        list-style: none;
        margin-top: 2.5rem;
        margin-left: .5rem;
    }

    .side-menu a {
        text-decoration: none;
        position: relative;
        left: 2rem;
        display: flex;
        align-items: center;
    }

    .side-menu p {
        display: inherit;
        position: absolute;
        left: 3.5rem;
    }

    .display-side-menu {
        display: inherit;
    }

    /* SIDE MENU ENDS HERE */

    /* HOME PAGE STARTS HERE */
    .home-page {
        margin: 0;

    }

    .home-page .first-cont {
        display: inherit;
    }

    .currated-playlist {
        max-width: 100%;
        min-height: 65vh;
    }

    .currated-playlist .first-container {
        min-width: 100%;

    }

    /* .currated-playlist .likes {
    min-width: 100%;
} */

    .currated-playlist .second-container {
        display: none;
    }

    .home-page .top-charts {
        margin-top: 2.5rem;
    }

    .top-charts .cards-container {
        display: flex;
        gap: 1.15rem;
        overflow-x: scroll;
    }

    .top-charts .card {
        min-width: 77.5vw;
    }

    .card .first-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    /* HOME PAGE ENDS HERE */

    /* CURRENT SONG STARTS HERE */
    .shuffle-btn,
    .prev-btn,
    .repeat-btn,
    .duration-bar,
    .volume {
        display: none;
    }

    /* CURRENT SONG ENDS HERE */

    /* COLLECTION PAGE STARTS HERE */
    .collection-page {
        margin: 0;
    }

    .collection-page .links {
        box-sizing: border-box;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: .85rem;
    }

    .collection-page .links a {
        min-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .collection-page .cards-container {
        margin-top: 1.5rem;
        display: block;

    }

    .collection-page .card {
        min-height: 17.5rem;
        background-image: url(./images/Rectangle\ 26.svg);
        background-size: cover;
        border-radius: 3rem;
        margin-bottom: 1.5rem;

    }

    .collection-page .card-title {
        position: relative;
        left: 1rem;
        top: -2.5rem;

    }

    .collection-page .artist {
        margin-top: 0;
        position: relative;
        left: 1rem;
        top: -2.5rem;

    }

    .collection-page .other {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    .collection-page .card button {
        display: inherit;
    }

    /* COLLECTION PAGE ENDS HERE */

    /* ALBUM PAGE STARTS HERE */
    .album-page {
        margin: 0;
    }

    .album-page .first-container {
        display: block;
    }

    .album-page .first-container .img-container, .album-page .first-container img {
        min-width: 100%;
    }

    .album-page .info {
        min-width: 100%;
        margin-top: 1rem;    
    }

    .album-page .btns-container {
        min-width: 100%;
    }

    .album-page .btns-container .like-btn p {
        display: inherit;
    }

    .album-page .songs-container {
        padding: 1.5rem .5rem;
    }

    .album-page .song {
        gap: 2.5rem;
    }

    .album-page .like-icon-container {
        display: none;
    }

    .album-page .adjust div {
        display: block;
    }

    .album-page .song-info-container p {
        justify-content: flex-start;
    }

    .album-page .other-container {
        display: flex !important;
        flex-direction: column-reverse;
    }

    
    /* ALBUM PAGE ENDS HERE */

    /* New page */
}

@media screen and (max-width: 960px) and (min-width: 481px) {

    html,
    body {
        margin: 0;
        min-width: 100%;
        min-height: 100%;
        overflow-x: hidden;

    }

    /* NAVBAR STARTS HERE */
    .toggle-btn-container {
        min-width: 5%;
        display: inherit;
    }

    .search-bar-container {
        box-sizing: border-box;
        min-width: 90%;
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;
    }

    .search-bar {
        box-sizing: border-box;
        margin-top: -0.05rem;
        /* margin-left:  -0.057rem; */
        min-width: 100%;
        position: absolute;
        left: 0;
        border-radius: 0;
        display: none;
    }

    .display-search-bar {
        display: inherit;
    }

    /* NAVBAR ENDS HERE */

    /* SIDE MENU STARTS HERE */
    .side-menu {
        box-sizing: border-box;
        min-width: 100%;
        min-height: 100%;
        background-color: #1D2123;
        border-radius: 0;
        position: absolute;
        left: 0;
        margin-top: -0.05rem;
        display: none;
    }

    .side-menu li {
        list-style: none;
        margin-top: 2.5rem;
        margin-left: .5rem;
    }

    .side-menu a {
        text-decoration: none;
        position: relative;
        left: 2rem;
        display: flex;
        align-items: center;
    }

    .side-menu p {
        display: inherit;
        position: absolute;
        left: 3.5rem;
    }

    .display-side-menu {
        display: inherit;
    }

    /* SIDE MENU ENDS HERE */

    /* HOME PAGE STARTS HERE */
    .home-page {
        margin: 0;

    }

    .home-page .first-cont {
        display: inherit;
    }

    .currated-playlist {
        max-width: 100%;
        min-height: 65vh;
    }

    .currated-playlist .first-container {
        min-width: 50%;

    }

    .currated-playlist .design-container {
        display: none;
    }

    .currated-playlist .second-container {
        max-width: 50%;
        display: flex;
        align-items: center;
    }

    .home-page .top-charts {
        margin-top: 2.5rem;
    }

    .top-charts .cards-container {
        display: flex;
        gap: 1.15rem;
        overflow-x: scroll;
    }

    .card .first-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    /* HOME PAGE ENDS HERE */

    /* CURRENT SONG STARTS HERE */
    .shuffle-btn,
    .prev-btn,
    .repeat-btn,
    .duration-bar,
    .volume {
        display: none;
    }

    /* CURRENT SONG ENDS HERE */

    /* COLLECTION PAGE STARTS HERE */
    .collection-page {
        margin: 0;
    }

    .collection-page .links {
        box-sizing: border-box;
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: .85rem;
    }

    .collection-page .links a {
        min-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .collection-page .cards-container {
        margin-top: 1.5rem;
        display: block;

    }

    .collection-page .card {
        min-height: 17.5rem;
        background-image: url(./images/Rectangle\ 26.svg);
        background-size: cover;
        border-radius: 3rem;
        margin-bottom: 1.5rem;

    }

    .collection-page .card-title {
        position: relative;
        left: 1rem;
        top: -2.5rem;

    }

    .collection-page .artist {
        margin-top: 0;
        position: relative;
        left: 1rem;
        top: -2.5rem;

    }

    .collection-page .other {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        margin-bottom: 1rem;
    }

    .collection-page .card button {
        display: inherit;
    }

    /* COLLECTION PAGE ENDS HERE */

    /* ALBUM PAGE STARTS HERE */
    .album-page {
        margin: 0;
    }

    .album-page .first-container {
        display: block;
    }

    .album-page .first-container .img-container, .album-page .first-container img {
        min-width: 100%;
    }

    .album-page .info {
        min-width: 100%;
        margin-top: 1rem;    
    }

    .album-page .btns-container {
        min-width: 100%;
    }

    .album-page .btns-container .like-btn p {
        display: inherit;
    }

    .album-page .songs-container {
        padding: 1.5rem .5rem;
    }

    .album-page .song {
        gap: 2.5rem;
    }

    .album-page .like-icon-container {
        display: none;
    }

    .album-page .adjust div {
        display: block;
    }

    .album-page .song-info-container p {
        justify-content: flex-start;
    }

    .album-page .other-container {
        display: flex !important;
        flex-direction: column-reverse;
    }

    
    /* ALBUM PAGE ENDS HERE */
}


@media screen and (max-width: 1250px) and (min-width: 961px) {

    /* HOME PAGE STARTS HERE */
    .container {
        min-height: 100vh;
    }

    .currated-playlist {
        min-width: 60%;
    }

    .currated-playlist .design-container {
        display: none;
    }

    .top-charts {
        min-width: 37%;
    }

    .top-charts .card {
        min-width: 0;
    }

    .top-charts .card .heart-icon-container {
        margin-left: 2.5rem;
    }

    /* HOME PAGE ENDS HERE */


    /* CURRENT SONG STARTS HERE */

    .controls {
        max-width: 35rem;

    }

    /* .duration-bar svg {
        min-width: 20rem !important;
    } */
    /* CURRENT SONG ENDS HERE */
}

@media screen and (min-width: 1251px) {
    .container {
        min-height: 100vh;
    }

    .currated-playlist {
        min-width: 60%;
    }

    .top-charts {
        min-width: 37%;
    }
}